body{
    background-color: aliceblue;
    background-image: url(https://img.freepik.com/free-vector/white-quotation-marks-blue-background_78370-2124.jpg) ;
}

.center{
    text-align: center;
    margin: auto;
    width: fit-content;
    border: 4px solid coral;
    padding: 10px
    
}

text{
    font-style: italic;

}